*{
    margin: 0;
    padding: 0;
}

.App{
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    position:absolute;
    bottom:0;
    left: 0;
    right: 0;
    top:0
}

.Watch{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    display:flex;
    gap: 50px;
    text-align: center;
}

.circles{
    position: relative;
    background-color: transparent;
    
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

#hours, #minutes, #seconds{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

input[type="range"]{
    appearance: none;
    background-color: #240b36;
    color: #240b36;
    background-image: linear-gradient(#240b36, #240b36);
    border-radius: 50px;
    height: 5px;
    width: 90%
}

input[type=”range”]::-ms-thumb{
    appearance: none;
    background-image: linear-gradient(#ff4500, #240b36);
    color: #240b36;
}
input[type=”range”]::-webkit-slider-runnable-track{
    appearance: none;
    background-image: linear-gradient(#ff4500, #240b36);
    color: #240b36;
    background: #240b36;
}